In [1]:
import pandas as pd #Import thư viện pandas
import numpy as np #Import thư viện numpy

In [2]:
#Đọc dữ liệu đầu vào

data = pd.read_csv("dulieuxettuyendaihoc.csv", index_col= "STT")

    #read_csv() : hàm trong pandas để đọc dữ liệu từ file csv và trả về một DataFrame
    #index_col : một tham số của hàm, cho biết cột nào trong file được dử dụng làm chỉ số index của DataFrame

In [3]:
#3 In 10 dòng đầu

data.head(10)

    #head(): một phương thức của DataFrame, trả về một DataFrame mới chứa 10 dòng đầu của DataFrame 'data'
    #không cung cấp tham số, head() sec mặc định trả về 5 dòng đầu tiên

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

In [5]:
#3: In 10 dòng cuối

data.tail(10)
    # tail tương tự head

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,8.3,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,6.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,6.1,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,5.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,7.2,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [7]:
#4 Thống kê dữ liệu thiếu trong cột DT trước khi thay thế:

data["DT"].isnull().sum()

    # data["DT"]: truy cập vào cột cụ thể
    # insnull(): xác định mỗi phần tử trong cột có phải giá trị thiếu không Kết quả trả về một 
    #   Series, trong đó mỗi phần tử là True nếu tương ứng với phần tử trong cột là giá trị thiếu
    #   (NaN), và False nếu không phải.'''
    # sum() :  tính tổng của các giá trị trong Series. Trong trường hợp này, True được coi là 1 và False được coi là 0

97

In [8]:
#4 Thay thế các giá trị thiếu bằng 0:
data["DT"].fillna(0, inplace = False)
#       inplace = True -- Muốn thay đổi dữ liệu gốc
#       inplace = False -- Không muốn thay đổi dữ liệu gốc

STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64

In [9]:
#4 Số lượng giá trị thiếu sau khi thay thế: 
data["DT"].isnull().sum()

97

In [10]:
#5 Thống kê dữ liệu thiếu cho biến T1

data["T1"].isnull().sum()

0

In [11]:
#5 Hiệu chỉnh dữ liệu

data["T1"].fillna(data["T1"].mean(), inplace= False)

    # mean(): được gọi trên cột "T1", trả về giá trị trung bình của cột đó.
    # fillna(): sử dụng để điền các giá trị thiếu bằng một giá trị đã được chỉ định

STT
1      7.2
2      5.4
3      5.6
4      6.6
5      6.0
      ...
96     8.6
97     3.7
98     8.8
99     2.7
100    4.1
Name: T1, Length: 100, dtype: float64

In [12]:
#6 Xử lý lần lượt tất cả các dữ liệu thiếu cho các biến về điểm số
is_float64 = data.dtypes == float  
data_column_list = data.columns[is_float64].tolist()
    # data.dtypes : trả về một Series chứa kiểu dữ liệu của mỗi cột
    # == float: so sánh kiểu dữ liệu của mỗi cột với kiểu dữ liệu float
    # is_float64: là một Series boolean với các giá trị True và False

    # data.columns: Trả về một Index (mảng) chứa các tên cột trong DataFrame data
    # [is_float64]: Dùng để lựa chọn các tên cột tương ứng với các vị trí có giá trị True trong Series 
    # .tolist(): Chuyển đổi Index thành danh sách Python

In [13]:
data_column_list

['T1',
 'L1',
 'H1',
 'S1',
 'V1',
 'X1',
 'D1',
 'N1',
 'T2',
 'L2',
 'H2',
 'S2',
 'V2',
 'X2',
 'D2',
 'N2',
 'T3',
 'L3',
 'H3',
 'S3',
 'V3',
 'X3',
 'D3',
 'N3',
 'T4',
 'L4',
 'H4',
 'S4',
 'V4',
 'X4',
 'D4',
 'N4',
 'T5',
 'L5',
 'H5',
 'S5',
 'V5',
 'X5',
 'D5',
 'N5',
 'T6',
 'L6',
 'H6',
 'S6',
 'V6',
 'X6',
 'D6',
 'N6',
 'DT',
 'DH1',
 'DH2',
 'DH3']

In [14]:
# Vòng lặp qua từng cột trong danh sách các cột cần xử lý
for col in data_column_list:
    # Thay thế các giá trị NaN trong cột hiện tại bằng giá trị trung bình của chính cột đó
    # - data[col] truy cập vào cột hiện tại trong DataFrame data
    # - data[col].mean() tính giá trị trung bình của các phần tử trong cột hiện tại
    # - fillna(data[col].mean()) thay thế các giá trị NaN bằng giá trị trung bình tính được
    # - inplace=False nghĩa là trả về một DataFrame mới với các giá trị NaN đã được thay thế,
    #   nhưng không thay đổi trực tiếp DataFrame ban đầu
    data[col].fillna(data[col].mean(), inplace=False)

In [15]:
# Hiển thị 5 hàng đầu tiên của DataFrame để kiểm tra các thay đổi
print(data.head())

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   X6   D6   N6  GT  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  6.6  7.6  5.9   F
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.6  6.1  4.4   M
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  7.9  8.1  4.6   M
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  7.1  7.3  7.4   M
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.1  7.5  7.2   M

     DT   KV   DH1   DH2   DH3  KT
STT
1   NaN  2NT  3.25  3.25  4.50  A1
2   NaN    1  6.00  4.00  3.50   C
3   NaN    1  5.00  6.75  4.00   C
4   NaN    1  4.25  4.25  5.25  D1
5   NaN  2NT  4.25  4.50  5.00   A

[5 rows x 55 columns]

In [16]:
#7: Tạo các biến TBM1, TBM2, TBM3 và tính điểm theo công thức tính
# TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10
for i in ["1", "2", "3"]:
    data["TBM"+i]=(data["T"+i]*2+ data["L"+i]+ data["H"+i]+data["S"+i]+data["V"+i]*2+data["X"+i]+data["D"+i]+data["N"+i])/10

In [17]:

data.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,GT,DT,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,F,NaN,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.06
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,M,NaN,1,6.00,4.00,3.50,C,4.69,5.47,4.70
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,M,NaN,1,5.00,6.75,4.00,C,5.77,5.38,4.33
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,M,NaN,1,4.25,4.25,5.25,D1,6.21,5.20,6.03
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,M,NaN,2NT,4.25,4.50,5.00,A,6.50,6.36,7.01

In [18]:
# Định nghĩa hàm XL để phân loại Điểm Trung Bình Môn (DTBM)
def XL(DTBM):
    # Nếu DTBM nhỏ hơn 5.0, trả về 'Y' (Yếu)
    if DTBM < 5.0:
        return 'Y'
    # Nếu DTBM từ 5.0 đến dưới 6.5, trả về 'TB' (Trung Bình)
    elif 5.0 <= DTBM < 6.5:
        return 'TB'
    # Nếu DTBM từ 6.5 đến dưới 8.0, trả về 'K' (Khá)
    elif 6.5 <= DTBM < 8.0:
        return 'K'
    # Nếu DTBM từ 8.0 đến dưới 9.0, trả về 'G' (Giỏi)
    elif 8.0 <= DTBM < 9.0:
        return 'G'
    # Nếu DTBM từ 9.0 trở lên, trả về 'XS' (Xuất Sắc)
    else:
        return 'XS'

In [19]:
# Vòng lặp qua các giá trị "1", "2", "3"
for i in ["1", "2", "3"]:
    # Tạo cột mới "XL"+i trong DataFrame `data` bằng cách áp dụng hàm `XL`
    # vào từng giá trị trong cột "TBM"+i
    # - "TBM"+i là tên cột chứa Điểm Trung Bình Môn (VD: "TBM1", "TBM2", "TBM3")
    # - apply(lambda DTBM: XL(DTBM)) áp dụng hàm `XL` lên từng giá trị DTBM trong cột
    data["XL"+i] = data["TBM"+i].apply(lambda DTBM: XL(DTBM))

In [22]:

data.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3,XL1,XL2,XL3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,3.25,3.25,4.50,A1,7.00,7.54,7.06,K,K,K
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.00,4.00,3.50,C,4.69,5.47,4.70,Y,TB,Y
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,5.00,6.75,4.00,C,5.77,5.38,4.33,TB,TB,Y
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,4.25,4.25,5.25,D1,6.21,5.20,6.03,TB,TB,TB
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,4.25,4.50,5.00,A,6.50,6.36,7.01,K,TB,K

In [21]:
#9 Tìm giá trị tối thiểu và tối đa của điểm trung bình lớp 10, 11, 12
Diem_min = data[['TBM1', 'TBM2', 'TBM3']].min().min()
    # min(): Phương thức này trả về giá trị tối thiểu cho mỗi cột trong DataFrame con đã trích xuất
    # Có nghĩa là nó sẽ trả về một Series chứa giá trị tối thiểu của "TBM1", "TBM2" và "TBM3"
    
    # min(): Sau khi đã có Series chứa giá trị tối thiểu của các cột, chúng ta gọi lại phương thức .min()
    # để trả về giá trị tối thiểu của tất cả các giá trị tối thiểu đó. Đảm bảo rằng chúng ta có giá trị 
    # tối thiểu nhất trong tất cả các điểm trung bình từ các năm lớp 10, 11 và 12
Diem_max = data[['TBM1', 'TBM2', 'TBM3']].max().max()

In [23]:
# Giả sử bạn đã định nghĩa các giá trị Diem_min và Diem_max trước đó
# Ví dụ:
# Diem_min = 0.0  # Điểm tối thiểu có thể có
# Diem_max = 10.0 # Điểm tối đa có thể có

# Vòng lặp qua các giá trị "1", "2", "3"
for i in ["1", "2", "3"]:
    # Tạo cột mới "US_TBM"+i trong DataFrame `data` bằng cách chuẩn hóa
    # giá trị trong cột "TBM"+i từ thang điểm 10 sang thang điểm 4
    # Công thức: ((giá trị - Diem_min) / (Diem_max - Diem_min)) * 4
    data["US_TBM"+i] = ((data["TBM"+i] - Diem_min) / (Diem_max - Diem_min)) * 4

In [24]:
# Hiển thị 5 hàng đầu tiên của DataFrame để kiểm tra các thay đổi
data.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,KT,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,A1,7.00,7.54,7.06,K,K,K,2.705882,3.159664,2.756303
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,C,4.69,5.47,4.70,Y,TB,Y,0.764706,1.420168,0.773109
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,C,5.77,5.38,4.33,TB,TB,Y,1.672269,1.344538,0.462185
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,D1,6.21,5.20,6.03,TB,TB,TB,2.042017,1.193277,1.890756
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,A,6.50,6.36,7.01,K,TB,K,2.285714,2.168067,2.714286

In [25]:
#10 Tạo biến KQXT, mặc định 0 là rớt, nếu kq = 1 là đậu
data['KQXT'] = 0

In [26]:
# Tính điểm trung bình của khối A và A1 với điều kiện điểm môn DH1 được nhân đôi,
# sau đó chia cho 4 và kiểm tra nếu kết quả >= 5.0
khoi_A_A1 = ((data['DH1']*2 + data['DH2'] + data['DH3']) / 4) >= 5.0

# Sử dụng phương thức loc để chọn những hàng có KQXT là 'A' hoặc 'A1' và điều kiện khoi_A_A1 là True
# Sau đó, gán giá trị 1 cho cột KQXT của những hàng này
data.loc[data['KQXT'].isin(['A', 'A1']) & khoi_A_A1, 'KQXT'] = 1

In [27]:
# Import thư viện numpy để sử dụng np.where
import numpy as np

# Tính điểm trung bình của khối B với điều kiện điểm môn DH2 được nhân đôi,
# sau đó chia cho 4 và kiểm tra nếu kết quả >= 5.0
khoi_B = ((data['DH1'] + data['DH2']*2 + data['DH3']) / 4) >= 5.0

# Sử dụng phương thức loc để chọn những hàng có KQXT là 'B'
# Sau đó, sử dụng np.where để gán giá trị 1 nếu khoi_B là True, ngược lại gán giá trị 0
data.loc[data['KQXT'] == 'B', 'KQXT'] = np.where(khoi_B, 1, 0)

In [34]:
# Tính điểm trung bình của các khối khác (C, D, C1, D1),
# sau đó chia cho 3 và kiểm tra nếu kết quả >= 5.0
khoi_khac = ((data['DH1'] + data['DH2'] + data['DH3']) / 3) >= 5.0

# Sử dụng phương thức loc để chọn những hàng có KQXT thuộc các khối 'C', 'D', 'C1', 'D1'
# và điều kiện khoi_khac là True
# Sau đó, gán giá trị 1 cho cột KQXT của những hàng này
data.loc[data['KQXT'].isin(['C', 'D', 'C1', 'D1']) & khoi_khac, 'KQXT'] = 1

In [28]:
# Hiển thị 5 hàng đầu tiên của DataFrame để kiểm tra các thay đổi
data.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3,KQXT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,7.00,7.54,7.06,K,K,K,2.705882,3.159664,2.756303,0
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,4.69,5.47,4.70,Y,TB,Y,0.764706,1.420168,0.773109,0
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,5.77,5.38,4.33,TB,TB,Y,1.672269,1.344538,0.462185,0
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,6.21,5.20,6.03,TB,TB,TB,2.042017,1.193277,1.890756,0
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.50,6.36,7.01,K,TB,K,2.285714,2.168067,2.714286,0

In [36]:
# Ghi DataFrame đã xử lý vào tệp CSV 'processed_dulieuxettuyendaihoc.csv'
# Không bao gồm cột chỉ mục (index)
data.to_csv('processed_dulieuxettuyendaihoc.csv', index=False)